<h1>Curso de Angular</h1>


<hr><hr>
  <app-consume-service/>
<hr><hr>


@if(boolean){
  <app-life-cycle [inputMyNumber]="number()">
    <p #text>Text</p>
  </app-life-cycle>
}

<button (click)="boolean = !boolean">Destroy Component</button>

<hr>
<hr>
<app-host-elements/>
<hr>
<hr>
<app-template-binding/>
<app-template-variable/>
<app-template-control-flow/>
<app-template-deferrable-views/>
<app-signals/>
<app-pai-ou-mae/>

<app-angular-pipes/>
<app-template-driven-forms/>
<app-reactive-forms/>

<app-content>
  <header id="header">
    <p>Header</p>
  </header>
  <p text>Text</p>
  <p text>Text</p>
  <footer class="footer">
    <p>Footer</p>
  </footer>
</app-content>

<router-outlet />
